
@font-face {
  font-family: 'Caudex-Bold';
  src: url('../fonts/Caudex-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Caudex-Bold.woff') format('woff'), url('../fonts/Caudex-Bold.ttf')  format('truetype'), url('../fonts/Caudex-Bold.svg#Caudex-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Caudex';
  src: url('../fonts/Caudex.eot?#iefix') format('embedded-opentype'),  url('../fonts/Caudex.woff') format('woff'), url('../fonts/Caudex.ttf')  format('truetype'), url('../fonts/Caudex.svg#Caudex') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'SpaceMono-Bold';
  src: url('../fonts/SpaceMono-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SpaceMono-Bold.woff') format('woff'), url('../fonts/SpaceMono-Bold.ttf')  format('truetype'), url('../fonts/SpaceMono-Bold.svg#SpaceMono-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'SpaceMono-Regular';
  src: url('../fonts/SpaceMono-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/SpaceMono-Regular.woff') format('woff'), url('../fonts/SpaceMono-Regular.ttf')  format('truetype'), url('../fonts/SpaceMono-Regular.svg#SpaceMono-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
