.header_area{

	.container-fluid{
		max-width: 95%;
		padding:20px 0;
	}
}



.logo{
	max-width: 250px;
	display:inline-block;
	float: left;

	@media only screen and (max-width: 767px){
		position: absolute;
	}
	@media only screen and (max-width: 400px){
		max-width:175px;
	}
}

.menu_holder{
	width: 100%;
	float: right !important;

	@media only screen and(min-width: 768px){
		width: auto;
	}

	@media only screen and(max-width: 767px){
		
	}

	.slicknav_menu{
		background: none;
		

		@media only screen and(min-width: 768px){
			display: none;
		}
	}

	.slicknav_nav{
		background: #000;
		position: relative;
		top: 20px;
		margin-bottom: 15px;
		li{
			border-bottom: 1px solid #fff;
		}
	}
	#menu{
		display: block;
		overflow: hidden;
		text-align: right;
		margin: 0;
		@media only screen and(max-width: 767px){
			display: none;
		}


		li{
			display: inline-block;
			float: none;
			width: auto;
			a{
				line-height: 65px;
				color:#1d1d1d;
				font-family: 'Caudex';
				font-size: 14px;
				padding:0 10px;
				letter-spacing: .2em;
				transition:all .2s ease;

				&:hover{
					color:#ccc;
					text-decoration: none;
				}
			}
		}
	}
}