.poor_culture_area{
	background: #C3C4C9;
	padding:120px 0;

	.container{
		max-width: 750px;
		text-align: center;

		h2{
			font-family: 'Caudex';
			font-size: 22px;
			margin-bottom: 25px;
		}

		p{
			font-family: 'SpaceMono-Regular';
			font-size: 16px;
		}
	}
}


.reputational_damage{
	background: #fff;
	padding:80px 0;

	.container-fluid{
		max-width: 90%;
	}

	.heading{
		font-family: 'Caudex';
		font-size: 40px;
		color:#1d1d1d;
	}

	p{
		color:#201d1e;
		font-family: 'SpaceMono-Regular';
		font-size: 15px;
	}

	ul{
		margin:0;
		padding: 0;
		li{
			color:#201d1e;
			font-family: 'SpaceMono-Regular';
			font-size: 15px;
			list-style-type: none;
			padding-left: 18px;
			position: relative;

			&:before{
				content:'.';
				position: absolute;
				left:-5px;
				top:-19px;
				font-size: 30px;

			}
		}
	}
}


.home_about_us{
	background: url('../img/pattern_background.jpg') no-repeat;
	background-size:cover;
	padding:120px 0;
	color:#fff;
	text-align: center;

	.container{
		max-width: 750px;
	}
	h2{
		font-family: 'Caudex';
		font-size: 25px;
	}

	p{
		font-family: 'SpaceMono-Regular';
		font-size: 16px;
		margin-top: 55px;
	}
}