
@font-face {
  font-family: 'SpaceMono-Regular';
  src: url('SpaceMono-Regular.eot?#iefix') format('embedded-opentype'),  url('SpaceMono-Regular.woff') format('woff'), url('SpaceMono-Regular.ttf')  format('truetype'), url('SpaceMono-Regular.svg#SpaceMono-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
